{% extends '_base.html' %}
{% load staticfiles %}
{% block header_text %} Telemetria RB3 # {% endblock header_text %}

{% block content %}
    <div>
        <table class="table table-striped table-bordered"style="width:50%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>Tempo de latencia (M)</td>
                    <td>[ms]</td>
                    <td><b><span id="ping-pong"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Tempearatura da CPU</td>
                    <td>[°C]</td>
                    <td><b><span id="temperatura"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>CPU</td>
                    <td>[%]</td>
                    <td><b><span id="cpu"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Memória</td>
                    <td>[MB]</td>
                    <td><b><span id="memoria"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Disco</td>
                    <td>[GB]</td>
                    <td><b><span id="disco"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Humidade</td>
                    <td>[%]</td>
                    <td><b><span id="humidade"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Pressão</td>
                    <td>[mbar]</td>
                    <td><b><span id="pressao"></span></b></td>
                </tr>
           </tbody>
        </table>
    </div>
    <div id="log" class="list-group" style="height: 250px; overflow: auto;">
        <b class="list-group-item disabled">Recepção</b>
    </div>

{% endblock %}

{% block script %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'monitor.js' %}"></script>

{% endblock %}