{% extends '_base.html' %}
{% load staticfiles %}
{% block title %}GOODSTRACKER{% endblock title %}
{% block header_text %} Monitor {% endblock header_text %}

{% block content %}

    <div>
        <p class="h2" id="tlm_title">Dados telemetria</p>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Modo assincrono</td>
                    <td>[]</td>
                    <td><b>{{ async_mode }}</b></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Tempo medio de latencia</td>
                    <td>[ms]</td>
                    <td><b><span id="ping-pong"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Tempearatura da CPU</td>
                    <td>[Celsus]</td>
                    <td><b><span id="temperatura"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>CPU</td>
                    <td>[%]</td>
                    <td><b><span id="cpu"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Memória</td>
                    <td>[MB]</td>
                    <td><b><span id="memoria"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Disco</td>
                    <td>[GB]</td>
                    <td><b><span id="disco"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Humidade</td>
                    <td>[%]</td>
                    <td><b><span id="humidade"></span></b></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Pressão</td>
                    <td>[mbar]</td>
                    <td><b><span id="pressao"></span></b></td>
                </tr>
           </tbody>
        </table>
    </div>
    <div>
        <h2>Recepção:</h2>
        <ul class="list-group" id="log" style="width:100%; height: 300px; overflow: auto;"></ul>
    </div>

{% endblock %}

{% block script %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'monitor.js' %}"></script>

{% endblock %}