
.container_route {
    width: 100%;
    height: 700px;
    text-align: left;
    display: -webkit-flex;
    display: flex;
}

.container_route div {

    margin-right:5px;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
}

.container_route div.column_1{
    width: 25%;
}

.container_route div.column_2 { 
    width: 75%;
}

#summary-directions { 
    height: 10%;
}

#directions-panel { 
    height: 85%;
    overflow: auto; 
}

#tlm { 
    height: 20%;
    overflow: auto; 
}

#map{

    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}

.table-condensed div.table_coordenates{
    font-size: smaller;
}
