{% extends '_base.html' %}
{% load staticfiles %}

{% block extra_head %}

    <link rel='stylesheet' type="text/css" href="{% static 'route/route.css' %}" />
          
{% endblock %}

{% block content %}

<div class="container-box">
    <div class="box directions-panel" id = "directions-panel"></div>
    <div class="box map" id="map"></div>
    <div class="box summary-directions" id = "summary-directions">
        <table class = "table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Lat</th>
                    <th>Lng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Inicial</td>
                    <td id="lat_inicial"></td>
                    <td id="lng_inicial"></td>
                </tr>
                <tr>
                    <td>Final</td>
                    <td id="lat_final"></td>
                    <td id="lng_final"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box tlm" id = 'tlm'>
        <input type="submit" id="submit" class="btn btn-secondary btn-md mr-1">
    </div>
  </div>

{% endblock %}

{% block script %}

    <script src="{% static 'route/route.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn1WH3o6v8rDP5kF9kYYeEXHDBtStoqwg&callback=initMap">
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

{% endblock %}