{% extends '_base.html' %}
{% load staticfiles %}
{% block header_text %} Home {% endblock header_text %}

{% block extra_head %}
  <link href="{% static 'signin.css' %}" rel = 'stylesheet'/>
{% endblock extra_head %}

{% block content %}

   <center>
    <form class="form-signin" action="{% url 'home:log_in' %}" method="post">
      <h2 class="form-signin-heading">Indetificação</h2>
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn btn-md btn-primary btn-block" type="submit">Entrar</button>
    </form>
    <h6 class="form-signin-ask">Não tem uma conta ? <a class = "btn-link" href="{% url 'home:sign_up' %}">Cadastre-se!</a> </h6>
  </center>

{% endblock content %}