{% extends '_base.html' %}

{% load staticfiles %}

{% block title %}GOODSTRACKER{% endblock title %}
{% block header_text %} Sing up {% endblock header_text %}

{% block extra_head %}
  <link href="signin.css" rel="stylesheet">
{% endblock extra_head %}

{% block content %}

<form class="form-signin" action="{% url 'home:sign_up' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Sign up</button>
    <p>Already have an account? <a href="{% url 'home:log_in' %}">Log in!</a></p>
</form>

{% endblock content %}


